* {
  box-sizing: border-box;
}
body {
  background: rgba(0, 0, 0, 1);
  width: 95%;
  margin: auto;
  font-family: 'Titillium Web', sans-serif;
  display: grid;
  grid-template-rows: 125px auto auto;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
li {
  float: left;
}
.header {
  background: url('../images/starfield_banner.jpg');
  position: fixed;
  width: 95%;
  grid-row-end: 2;
  z-index: 1;
}
.header .logo {
  width: 110px;
  margin: 11px;
  float: left;
}
.header .share {
  height: 40px;
  width: 40px;
  margin: 20px 10px;
  float: right;
}
.search {
  background: rgba(51, 51, 51, 1);
  margin: 20px 10px;
  float: right;
}
.search input[type="text"] {
  background: rgba(51, 51, 51, 1);
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  border: none;
  height: 40px;
  width: 120px;
  padding-left: 10px;
}
.search input[type="submit"] {
  background: url(../images/search.svg);
  height: 40px;
  width: 40px;
  border: none;
}
.navigation {
  float: right;
}
.navigation a {
  color: rgb(255, 255, 255, 1);
}
.navigation .main {
  height: 54px;
  font-size: 21px;
  margin: 10px 0px;
}
.navigation .main li {
  padding: 11px;
  border-right: 2px solid rgba(57, 57, 57, 1);
}
.navigation .main li:last-child {
  border-right: none;
}
.navigation .main li:hover {
  background: rgba(21, 65, 140, 1);
  border-right: 2px solid rgba(21, 65, 140, 1);
}
.navigation .sub {
  height: 40px;
  background: rgba(85, 85, 85, 1);
  padding: 8px 0px 0px 0px;
}
.navigation .sub_list {
  height: 30px;
  font-size: 14px;
}
.navigation .sub_list li {
  padding: 0px 11px;
  border-right: 1px solid rgba(136, 136, 136, 1);
}
.navigation .sub_list li:last-child {
  border: none;
}
.content {
  grid-row-end: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 290px;
  grid-gap: 20px;
}
.content img {
  width: 100%;
  height: 100%;
}
.big_card {
  grid-column-end: span 2;
  grid-row-end: span 2;
  position: relative;
}
.normal_card {
  position: relative;
}
.wider_card {
  grid-column-end: span 2;
  position: relative;
}
.headline {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.headline .title {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 18px;
}
.headline .title:hover {
  background: rgba(255, 255, 255, 1);
}
.headline .title a {
  color: rgb(0, 0, 0, 1);
  font-weight: bold;
  font-size: 18px;
}
.headline .tag {
  background: rgba(93, 127, 185, 0.8);
  width: fit-content;
  padding: 5px 10px;
}
.headline .tag:hover {
  background: rgba(93, 127, 185, 1);
}
.headline .tag a {
  color: rgb(255, 255, 255, 1);
  font-size: 18px;
}
.bulletin_board {
  background: rgba(69, 112, 154, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  padding: 8px;
  position: relative;
}
.bulletin_board a {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
}
.bulletin_board .title {
  padding: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.bulletin_board .more_infor {
  padding: 5px;
  border-top: 1px solid rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  width: 95%;
}
video {
  width: 100%;
  margin-top: 100px;
}
.footer {
  grid-row-end: 4;
}
.read_more {
  width: 100%;
  height: 40px;
  padding: 7px;
  margin: 10px 0px;
  background: rgb(21, 65, 140, 1);
  font-weight: bold;
  text-align: center;
}
.read_more a {
  color: white;
}
.read_more:hover {
  background: rgb(93, 127, 185, 1);
}
.footer .logo {
  width: 80px;
  margin: 20px 0px 20px 10px;
  float: left;
}
.footer .status {
  color: rgba(255, 255, 255, 1);
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 20px 30px;
  float: left;
}
.footer .status p {
  margin: 0px;
}
.footer .navigation a {
  color: rgba(93, 127, 185, 1);
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.footer .navigation li {
  padding: 11px;
}