body {
  background: rgba(0, 0, 0, 1);
  box-sizing: border-box;
  width: 95%;
  margin: auto;
  font-family: 'Titillium Web', sans-serif;
}
.header {
  background: url('../images/starfield_banner.jpg');
  position: fixed;
  width: 95%;
}
.header .logo {
  width: 110px;
  margin: 11px;
  float: left;
}