* {
  box-sizing: border-box;
}
body {
  background: rgba(0, 0, 0, 1);
  width: 95%;
  margin: auto;
  font-family: 'Titillium Web', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
li {
  float: left;
}
.header {
  background: url('../images/starfield_banner.jpg');
  position: fixed;
  width: 95%;
}
.header .logo {
  width: 110px;
  margin: 11px;
  float: left;
}
.header .share {
  height: 40px;
  width: 40px;
  margin: 20px 10px;
  float: right;
}
.search {
  background: rgba(51, 51, 51, 1);
  margin: 20px 10px;
  float: right;
}
.search input[type="text"] {
  background: rgba(51, 51, 51, 1);
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  border: none;
  height: 40px;
  width: 120px;
  padding-left: 10px;
}
.search input[type="submit"] {
  background: url(../images/search.svg);
  height: 40px;
  width: 40px;
  border: none;
}
.navigation {
  float: right;
}
.navigation a {
  color: rgb(255, 255, 255, 1);
}
.navigation .main {
  height: 54px;
  font-size: 21px;
  margin: 10px 0px;
}
.navigation .main li {
  padding: 11px;
  border-right: 2px solid rgba(57, 57, 57, 1);
}
.navigation .main li:last-child {
  border-right: none;
}
.navigation .main li:hover {
  background: rgba(21, 65, 140, 1);
  border-right: 2px solid rgba(21, 65, 140, 1);
}
.navigation .sub {
  height: 40px;
  background: rgba(85, 85, 85, 1);
  padding: 8px 0px 0px 0px;
}
.navigation .sub_list {
  height: 30px;
  font-size: 14px;
}
.navigation .sub_list li {
  padding: 0px 11px;
  border-right: 1px solid rgba(136, 136, 136, 1);
}
.navigation .sub_list li:last-child {
  border: none;
}